* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
   display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;   
    justify-content: center;

}
.main-container {
    border: 1px solid none;
    width: 350px;
    max-width: 100%;
    margin-top: 40px;
}
header {
color: hsl(300, 43%, 23%);
    font-weight: 900;
    line-height: 28px;
    margin-bottom: 30px;
}
article {
      font-weight: 600;
    line-height: 20px;
    color: hsl(303, 10%, 53%);
    margin-bottom: 30px;
}

.container {
    
    width: 80%;
    border: 1px solid none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 23%);
}
.cards {
    background-color: hsl(300, 43%, 23%);
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    color: hsl(0, 0%, 100%);
    width: 60%;
    text-align: center;
    display: inline-block;
}
figure {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fig-image {
    border: 1px solid none;
    border-radius: 999px;
    width: 20%;
}
.span-div {
    display: grid;
    grid-row-gap: 5px;
}
.no-color-name {
    font-weight: 600;
}
.color-text {
    color:hsl(333, 80%, 67%);
}
.r-comment {
    font-weight: 400;
    margin-top: 15px;
    line-height: 20px;
}
@media (min-width:768px) {
    .main-container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 30px;   
        width: 100%; 
        padding: 0px 20px;
    }
    .review-box {
        display: flex;
        justify-content: space-between;
        margin: 0px 70px;
    }
    .cards {
        width: 30%;
    }
    .review-2 {
        margin-top: 12px;
    }
    .review-3 {
        margin-top: 24px;
    }
    .box {
        display: flex;
        align-items: center;
        text-align: center;
        padding: 10px 7px;
        justify-content: flex-start;
        margin: 15px 5px; 
     }
   #box-2 {
    margin-left: 20px;
   }
   #box-3 {
    margin-left: 60px;
   }
   .first-wrap {
    text-align: left;
   }
   
   .image-section .container {
    width: 100%;
   }
  
}
    