* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.main-container {
    text-align: center;
    border: 1px solid white;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    color:  hsl(300, 43%, 22%);
    background: url(/images/bg-pattern-top-mobile.svg);
    background-size: 100%;
    background-repeat: no-repeat;

}
header {
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 30px;
}
.head-text {
    font-weight: 600;
    line-height: 28px;
    color: hsl(303, 10%, 53%);
    margin-bottom: 30px;
}
.container {
    
    width: 80%;
    border: 1px solid none;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    background-color:hsl(300, 24%, 96%);
}
.card {
    width: 80%;
    border: 1px solid none;
    
    display: inline-block;
    padding: 30px;
    margin-bottom: 20px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 5px;
    color: hsl(0, 0%, 100%);
}
.content-image {
    border-radius: 999px;
    width: 10%;
    display: ;
}